.header {
  background-color: var(--white-color); 
}

.header-title {
  color: var(--black-color);
  padding: 2rem;
  text-align: center;
  font-size: 1.8rem;

}

.header-text {
  color: var(--gray-color);
  font-size: 1.2rem;
  text-align: center;

}

.header-input {
  margin: 0 auto;
  text-align: center;
  margin: 1.5rem;
}

select{
  cursor: pointer;
  background: var(--input-color);
  border-radius: 16px;
  border: 1px solid var(--input-color);
  display: inline;
  padding: 0.5rem 1.8rem;
  font-size: 1rem;
  font-family: "Iranyekan";
}

.header-notes {
  display: flex;
  justify-content: flex-start;
  max-width: 1280px;
}

.header-notes_details {
  color: var(--black-color);
  font-size: 1rem;
  margin: 0.5rem;
  padding-right: 1rem;

}

.active {
  color: var(--lightblue-color);
  border-bottom: 2px solid var(--lightblue-color);
  padding: 0rem 1rem;
}