.notes {
  background-color: var(--input-color);
  border-radius: 0px 40px 0px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid;
  margin: 0.5rem 0rem;
}


.note-data{
  color: var(--black-color);
  padding: 0.5rem 2rem;
  font-size: 0.9rem;
  
}

.note-title,.notes-desc{
  color: var(--black-color);
  padding:1rem;
  font-size: 1.3rem;
}
.note-desc{
  font-size: 1rem;
  padding: 1rem;

}
.trash ,.heart{
  color: red;
  padding: 0rem 0.5rem ;
  font-size: 1rem;
  cursor: pointer;
}
